body {
	background-color: #505050;
	font-family:"Verdana", sans-serif, serif;
}

#game {
	width: 1000px;
	height: 600px;
	margin: 0 auto;
	position: relative;
}

#gameCanvas {
	display: block;
	margin: 0;
	float: left;
}

#gameStats {
	float: left;
	width: 196px;
	height: 596px;
	border: 2px solid black;
	background-color: gray;

}

#gameMoney {
	padding: 10px;
	cursor: default;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#gameCover {
	bottom: 0px;
	left: 0px;
	position: absolute;
	width: 800px;
	height: 100%;
	background: rgba(54, 54, 84, 0.5);
	visibility: visible;
}

#gameTowerSelection {
	bottom: 25px;
	left: 75px;
	position: absolute;
	width: 125px;
	height: 200px;
	background: rgba(215, 215, 215, 1.0);
	visibility: visible;
}

#gameTowerSelection a {
	background: rgba(150, 150, 150, 1.0);
	border: none;
	font-size: 17px;
	margin: 5px auto;
	display: block;
	width: 100px;
	text-align: center;
	cursor: default;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#gameTowerSelection a.inactive {
	background: rgba(200, 200, 200, 1.0);
	color: rgba(150, 150, 150, 1.0);
}

#gameTowerSelection a:hover {
	background: rgba(190, 190, 190, 1.0);
}